// Indicates that the environment is development
NODE_ENV = development

// Sets the port number for the server to run on
PORT = 5001

// Sets the MongoDB connection URI, including authentication information
MONGO_URI = mongodb+srv://Gian123:Gian123@cluster13.9dgpki2.mongodb.net/?retryWrites=true&w=majority

// Sets the secret key to be used for JSON Web Token (JWT) encryption and decryption
JWT_SECRET = ABC123
